/*Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
  --bs-btn-padding-x: 0.30rem;
  --bs-btn-padding-y: 0.30rem;
}

a{
    color: white;
    text-decoration: none;
}

.container-md,
.container {
    padding: 0;
}

h6{
    font-size: 18px;
    font-weight: 600;
}

img{
    width: 50px;
}

tbody tr td:last-child{
    text-align: center;
}

.mobile_poof{
    display: inline;
}

.navbar-toggler{
    color: #898c8d;
    margin-right: 10px;
}

.nav-link:hover{
    color: white;
}

/*Smartphone*/

@media screen and (max-width: 628px){

    .mobile_poof{
        display: none;
    }

    .container-md{
    padding: 5px 14px;
    }
    
}