/*Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 50px;
}

.bg-dark-subtle {
  background-color: #212529 !important;
}

.text-grey{
  color: #969899;
}

.mobile_poof{
    display: inline;
}

/************************************************************************/
/************************************************************************/

/*Responsive*/

/*Tablet*/

/*Smartphone*/

@media screen and (max-width: 628px){

    .mobile_poof{
        display: none;
    }
    
}