/*Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 50px;
}

tr td button{
    margin: 0px 1px;
}

tbody tr td:last-child{
    text-align: center;
}

.bg-dark-subtle {
  background-color: #212529 !important;
}

.text-grey{
  color: #969899;
}

.mobile_poof{
    display: inline;
}

table{
    margin-top:20px
}

.navbar-toggler{
    color: #898c8d;
    margin-right: 10px;
}

.nav-link:hover{
    color: white;
}


/************************************************************************/
/************************************************************************/

/*Responsive*/

/*Tablet*/

/*Smartphone*/

@media screen and (max-width: 628px){

    .mobile_poof{
        display: none;
    }
    
}